body {
  background-color: rgb(3, 19, 48);
}

.btn {
  background-color: none;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 10px;
  float: right;
  cursor: pointer;
}

.fpages {
  opacity: 0;
  display: none;
}
.pages {
  width: 130px;
  height: 170px;
  background-color: rgb(5, 44, 44);
  color: rgb(255, 255, 255);
  border-radius: 5%;
  float: right;
  margin: 20px 5px 0 0;
  opacity: 0;
  display: none;
}

a {
  position: relative;
  text-decoration: none;
  color: white;
  margin: 5px 0 5px 5px;
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
}

.container {
  color: white;
  width: 400px;
  height: 550px;
  background-color: rgb(5, 7, 27);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
  text-align: center;
}

span {
  font-size: 23px;
  margin: 20px;
}

label {
  margin: 30px 0 30px 10px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

input {
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 25px;
}

.submit {
  margin-top: 40px;
  border-radius: 30px;
  background: #fee996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  padding: 10px 16px;
  letter-spacing: 2px;
  width: 100px;
  background-color: chartreuse;
}

.sgn {
  margin-top: 100px;
  border-radius: 36px;
  background: #fee996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  padding: 10px 10px;
  letter-spacing: 2px;
  background-color: chartreuse;
}

hr {
  background-color: white;
  height: 1px;
  width: 270px;
  border: none;
}

.success,
.failure {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  width: 170px;
  height: 30px;
  background-color: rgb(9, 255, 0);
  float: right;
  margin-top: 50px;
  display: none;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  animation: ani 1.5s;
}

#spc {
  margin-right: 5px;
}

.failure {
  background-color: rgb(255, 0, 0);
}

.nav {
  width: 130px;
  height: 170px;
  background-color: rgb(16, 16, 78);
  color: rgb(255, 255, 255);
  border-radius: 5%;
  float: right;
  margin: 20px 5px 0 0;
  opacity: 1;
  display: block;
  animation: nav-ani 1s;
}

@keyframes nav-ani {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ani {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}


.items,
.names {
  font-size: 25px;
  list-style-type: none;
  margin-top: 25px;
  cursor: pointer;
  background-color: rgb(39, 39, 109);
  border-radius: 10px;
  height: 30px;
  width: 260px;
  text-align: center;
}

.fol_ul {
  padding-left: 15px;
  padding-bottom: 50px;
}

.folders {
  color: white;
  width: 300px;
  height: auto;
  background-color: rgb(19, 24, 82);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
}

.enter {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url("enter.svg");
  position: absolute;
  top: 20px;
  left: 140px;
  display: none;
}

.name {
  width: 380px;
  height: auto;
  background-color: rgb(19, 24, 82);
  position: absolute;
  top: 75px;
  left: 165px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
  display: none;
}

.names {
  width: 350px;
  display: none;
}

.li_href {
  padding: 0;
  margin: 0;
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.white {
  color: wheat;
}

ul {
  list-style-type: none;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
}

.separator{
  height: 2px;
  width: 115px;
}